body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

main {
  padding: 20px 30px 20px 30px;
}

@media screen and (max-width: 500px) {
  main {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

pre {
  max-height: 400px;
}

.header-banner-container {
  color: white;
  text-align: center;
  background-image: url("../img/default/header-image.jpg");
  background-size: 100%;
  background-position: center;
  height: 135px;
  line-height: 1.3;
  padding: 25px;
}

.navbar {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: #333 !important;
  padding: 0 25px 0 25px;
}

.navbar-nav .active {
  background-color: #444;
}

.navbar-nav .active .nav-link {
  color: white !important;
}

.nav-item {
  padding: 5px 22px;
}

.navbar-toggler {
  margin: 10px 0px;
}

.the-sidebar-container {
  border: 5px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  display:inline-block;
  height:100%;
}

.the-sidebar-square {
  height: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}

.the-sidebar-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  padding: 0px 15px 0px 15px;
  background-color: #444;
  color: #fff;
}

.the-sidebar-square-content {
  padding: 5px 15px 5px 15px;
}

.FALP-article {
  border: 5px solid transparent;
  min-height: 375px;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: 11;
}

.FALP-article-bg-image {
  width: 100%;
  min-height: 375px;
  max-height: 375px;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: 0.5s;
}

.FALP-article:hover .FALP-article-bg-image {
  transform: scale(1.1);
  transition: 0.5s;
}

.FALP-article-tag,
.FALP-article-date,
.FALP-article-title {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 111;
}

.FALP-article-tag {
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  padding: 9.5px 15px 9.5px 15px;
  /*background-color: red;*/
}

.FALP-article-date {
  text-transform: uppercase;
  top: 0px;
  right: 0px;
  padding: 9.5px 15px 9.5px 15px;
}

.FALP-article-title {
  font-size: 28px;
  bottom: 0px;
  width: 100%;
  padding: 9.5px 15px 9.5px 15px;
}

@media screen and (max-width: 1280px) {
  .FALP-article-tag,
  .FALP-article-date {
    font-size: 12px;
  }

  .FALP-article-title {
    font-size: 16px;
  }
}

.FALP-article-section {
  /*margin-bottom: 5px;*/
}

.FALP-article-container {
  /*width: 100%;*/
}

.the-full-article-container {
  border: 5px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  height: 100%;
  float: left;
  width: 100%;
  /*margin-bottom: 30px;*/
}

.placeholder-under-the-full-article-container {
  border: 5px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  height: 100%;
  float: left;
}

.the-page-selector-container {
  border: 5px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  height: 100%;
  float: left;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .the-page-selector-container {
    width: 100%;
  }
}

.the-full-article {
  background-color: #fff;
  padding: 5px 15px 5px 15px;
}

.the-full-article-content {
  padding: 20px;
}

.the-author-avatar {
  width: 50px;
  height: 50px;
  border: solid 1px #000;
  display: block;
  float: left;
  margin-right: 10px;
}

.the-full-article-author {
  /*display: block;*/
}

.the-full-article-date {
  /*display: block;*/
}

.the-full-article-author,
.the-full-article-date,
.post-photo-credit {
  font-size: 14px;
}

.the-full-article-tag {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
}

.the-full-article-title {
  font-size: 38px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

.the-full-article-subtitle {
  font-weight: normal;
  padding: 15px 0px 15px 0px;
}

.the-full-article-header {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
}

/* Footer */

footer {
  color: white;
  text-align: center;
}

/* Category tags */

.cattag-uncategorized {
  background-color: rgba(0,0,0,0.7);
}

.cattag-important {
  background-color: red;
}

.cattag-gaming {
  background-color: mediumpurple;
}

.cattag-site-news {
  background-color: #4B0082;
}

.cattag-windows {
  background-color: #1151d3;
}

.cattag-linux {
  background-color: #ad8318;
}