---
title: TechKeep.net - Tech tips, tutorials and gaming content covering both new and old devices on all platforms, curated by a dev.
layout: default
paginate: true
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% if forloop.first == true %}
    <article class="FALP-article col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <a href="{{post.url}}" class="clickable-article-link">
        <img alt="Article preview image" src='{{post.image}}' class="FALP-article-bg-image"/>
        <h2 class="FALP-article-title">{{post.title}}</h2>
        <h3 class="FALP-article-tag cattag-{{post.cattag}}">{{post.cattagText}}</h3>
        <h3 class="FALP-article-date">{{post.date | date: "%-d %b %Y"}}</h3>
      </a>
    </article> <!-- /FALP-article -->
  {% else %}
    <article class="FALP-article col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <a href="{{post.url}}" class="clickable-article-link">
        <img alt="Article preview image" src='{{post.image}}' class="FALP-article-bg-image"/>
        <h2 class="FALP-article-title">{{post.title}}</h2>
        <h3 class="FALP-article-tag cattag-{{post.cattag}}">{{post.cattagText}}</h3>
        <h3 class="FALP-article-date">{{post.date | date: "%-d %b %Y"}}</h3>
      </a>
    </article> <!-- /FALP-article -->
  {% endif %}
{% endfor %}

<script>
  var nbrOfArticles = document.getElementsByClassName("FALP-article").length;
  var phantomArticle = document.getElementsByClassName("FALP-article-container")[0];
  if (nbrOfArticles < 2) {
    phantomArticle.innerHTML = phantomArticle.innerHTML + '<article class="FALP-article col-xl-6 col-lg-6 col-md-12 col-sm-12"><a href="/" class="clickable-article-link"><img alt="Article preview image" src="/img/default/header-image.jpg" class="FALP-article-bg-image"/><h2 class="FALP-article-title">Return to front page</h2><h3 class="FALP-article-tag">Uncategorized</h3><h3 class="FALP-article-date">None</h3></a></article>';
  }
</script>