<div class="col-xl-12 social-comments">
	<hr>
	<h3>Comments</h3>
	<p>You can leave comments and questions using the following external platforms:</p>

	<div class="social-icon-div" style="display: inline-block;">
		<a href="{{page.redditlink}}" target="_blank" rel="noreferrer noopener">
			<img class="social-icon" alt="Reddit Logo" src="/img/default/reddit.png"/><br>Reddit
		</a>
	</div>
	<div class="social-icon-div" style="display: inline-block;">
		<a href="{{page.twitterlink}}" target="_blank" rel="noreferrer noopener">
			<img class="social-icon" alt="Twitter Logo" src="/img/default/xtwitter.png"/><br>X/Twitter
		</a>
	</div>

</div>