<!-- Begin sidebar section -->
<aside class="the-sidebar-container col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">

  <div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Socials</h3>
    <div class="the-sidebar-square-content-socials">
      <ul style="list-style-type:none;padding:0;margin:0;text-align:center;">
          <li class="socials-sidebar-item">
            <a href="https://twitter.com/TechKeepNet" target="_blank" rel="noreferrer noopener" style="text-decoration:none;">
              <div style="width:60px;">
                <img alt="Twitter icon" src="/img/default/twitter.png" height="50px" width="50px">
                <br><span>Twitter</span>
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://reddit.com/r/TechKeep" target="_blank" rel="noreferrer noopener" style="text-decoration:none;">
              <div style="width:60px;">
                <img alt="Reddit icon" src="/img/default/reddit.png" height="50px" width="50px">
                <br><span>Reddit</span>
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://www.youtube.com/channel/UC5ZZZu8CVp2bP_MVAlGO8qA" target="_blank" rel="noreferrer noopener" style="text-decoration:none;">
              <div style="width:60px;">
                <img alt="YouTube icon" src="/img/default/youtube.png" height="50px" width="50px">
                <br><span>YouTube</span>
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://github.com/TechKeep" target="_blank" rel="noreferrer noopener" style="text-decoration:none;">
              <div style="width:60px;">
                <img alt="GitHub icon" src="/img/default/github.png" height="50px" width="50px">
                <br><span>GitHub</span>
              </div>
            </a>
          </li>
      </ul>
    </div>
  </div> <!-- /the-sidebar-square -->

  <div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Pinned</h3>
    <div class="the-sidebar-square-content">
        {% for post in site.categories.pinned %}
          <div class="post-history-item-container">
            <a class="post-history-item-link" href="{{post.url}}">
              <div>
                <img class="post-history-item-image" alt="Preview of post image" src="{{post.image}}" height="100%" width="100%">
                <span class="cattag-{{post.cattag}}" style="color:white;padding:2px;padding-left:5px;margin-right:5px;font-weight:bold;text-transform:uppercase;">
                  {{post.cattagText}} 
                </span>
                <span style="font-style:italic;color:#333;">{{post.date | date: "%-d %b %Y"}}</span>
                <br>
                <span>{{post.title}}</span>
              </div>
            </a>
          </div>
        {% endfor %}
    </div>
  </div> <!-- /the-sidebar-square -->

  <!-- Advertisement -->
  <!-- Waiting for approval -->
  <!--<div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Advertisement</h3>
    <div class="the-sidebar-square-content">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9223905550275061"
           crossorigin="anonymous"></script>-->
      <!-- SidebarAd1 -->
      <!--<ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9223905550275061"
           data-ad-slot="7261368146"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>--> <!-- /the-sidebar-square -->

  <!-- In development -->
  <style>
  .the-sidebar-square-content-socials {
    padding: 5px;
  }
  .post-history-item-container {
    display:block;
  }
  .post-history-item-link {
    text-decoration:none;display:inline-block;width:100%;padding:5px;margin:5px;margin-left:0px;
  }
  .post-history-item-link:hover {
    background-color: #eee;
  }
  .post-history-item-image {
    margin-right:5px;float:left;height:75px;width:100px;object-fit:cover;object-position:center;
  }
  @media screen and (max-width: 1400px) {
    .post-history-item-image {
      width: 100%;
      padding-bottom: 5px;
    }
  }
  @media screen and (max-width: 700px) {
    .post-history-item-image {
      width: 100px;
    }
  }
  </style>

  <!--<div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Post history</h3>
    <div class="the-sidebar-square-content">
      <ul style="list-style-type:none;padding:0;margin:0;">
        {% for post in site.categories.sidebar-posts %}
          <li class="post-history-sidebar-item"><a href="{{post.url}}">{{post.date | date: "%-d %b %Y"}}<br>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>--> <!-- /the-sidebar-square -->

  <!--<div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Advertisement</h3>
    <div class="the-sidebar-square-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet consequat quam. Phasellus rutrum nibh nisl, id malesuada nisl blandit nec. Ut id dolor quis nulla semper convallis.</p>
    </div>
  </div>--> <!-- /the-sidebar-square -->
</aside> <!-- /the-sidebar-container -->