<!-- Begin sidebar section -->
<aside class="the-sidebar-container col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">

  <div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Socials</h3>
    <div class="the-sidebar-square-content">
      <ul style="list-style-type:none;padding:0;margin:0;text-align:center;">
          <li class="socials-sidebar-item">
            <a href="https://twitter.com/TechKeepNet" target="_blank" style="text-decoration:none;">
              <div>
                <img alt="Twitter icon" src="/img/default/twitter.png" height="50px" width="50px"><br>Twitter
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://reddit.com/r/TechKeep" target="_blank" style="text-decoration:none;">
              <div>
                <img alt="Reddit icon" src="/img/default/reddit.png" height="50px" width="50px"><br>Reddit
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://www.youtube.com/channel/UC5ZZZu8CVp2bP_MVAlGO8qA" target="_blank" style="text-decoration:none;">
              <div>
                <img alt="YouTube icon" src="/img/default/youtube.png" height="50px" width="50px"><br>YouTube
              </div>
            </a>
          </li>
          <li class="socials-sidebar-item">
            <a href="https://github.com/TechKeep" target="_blank" style="text-decoration:none;">
              <div>
                <img alt="GitHub icon" src="/img/default/github.png" height="50px" width="50px"><br>GitHub
              </div>
            </a>
          </li>
      </ul>
    </div>
  </div> <!-- /the-sidebar-square -->

  <div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Post history</h3>
    <div class="the-sidebar-square-content">
      <ul style="list-style-type:none;padding:0;margin:0;">
        {% for post in site.categories.sidebar-posts %}
          <li class="post-history-sidebar-item"><a href="{{post.url}}">{{post.date | date: "%-d %b %Y"}}<br>{{post.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div> <!-- /the-sidebar-square -->

  <!--<div class="the-sidebar-square">
    <h3 class="the-sidebar-title">Advertisement</h3>
    <div class="the-sidebar-square-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet consequat quam. Phasellus rutrum nibh nisl, id malesuada nisl blandit nec. Ut id dolor quis nulla semper convallis.</p>
    </div>
  </div>--> <!-- /the-sidebar-square -->
</aside> <!-- /the-sidebar-container -->