<!doctype html>
<html lang="en" class="h-100">
{% include head0-privacy.html %}
<body class="d-flex flex-column h-100">
    
{% include header.html %}

<!-- Begin page content -->
<main class="flex-shrink-0">

  <!-- Begin articles section -->
  <div class="FALP-article-section col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="FALP-article-container col-xl-12 col-lg-12 col-md-12 col-sm-12">

      <article class="the-full-article-container col-xl-12">
        <div class="the-full-article">
          <div class="the-full-article-header col-xl-6 col-lg-6" style="margin-left:auto;margin-right:auto;">
            <h2 class="the-full-article-title">{{page.title}}</h2>
            <h5 class="the-full-article-subtitle">{{page.subtitle}}</h5>
            <hr>
          </div>
          
          <div class="the-full-article-content">
            <div class="col-xl-6 col-lg-6" style="margin: 0 auto;">
              {{ page.content }}
            </div>
          </div>
        </div>
      </article> <!-- /the-full-article-container -->

      <!-- Placeholder -->
      <div class="placeholder-under-the-full-article-container col-xl-12">
        <!-- -<hr> -->
      </div> <!-- /placeholder-under-the-full-article-container -->

    </div>



  </div> <!-- /FALP-article-section -->
</main>

{% include footer.html %}

</body>
</html>
